
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}


.card{
    display:flex;
    width: 75%;
    height: 200px;
    position: relative;
    flex-direction: column;
    border: 1.5px solid white;
}

.card span{
    position: absolute;
    top: 0;
    left: calc(100% / 24* var(--i));
    width: calc(100% / 24);
    height: 100%;
}


.card img{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height:100%;
    object-fit:cover;
    object-position: center center;
    opacity: 0;
    pointer-events: none;
}

.card span:hover + img{
    opacity: 1;
}